<div class="container">
    <header>
        <div class="logo">
            <img src="assets/images/candys-cupcakes-logo.png" alt="">
        </div>
        <div class="nav-bar">
            <ul class="list-items">
                <li>
                    {{#link-to "home"}}
                        Home
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "cakes"}}
                        Cakes
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "prices"}}
                        Prices
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "contact"}}
                        Contact
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </header>
    <div class="main">
        {{outlet}}
    </div>
    <footer>
        <h3>Social Media</h3>
        <div class="social-media">
            <a href="#" class="icon"><i class="fa fa-pinterest-p"></i></a>
            <a href="#" class="icon"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fa fa-dribbble"></i></a>
            <a href="#" class="icon"><i class="fa fa-instagram"></i></a>
            <a href="#" class="icon"><i class="fa fa-facebook"></i></a>
        </div>
    </footer>
</div>